/* Universal Selector: Sets default styles for all elements, pseudo-elements (::before, ::after) */
*,
::before,
::after {
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  box-sizing: border-box; /* Changes the box model to include padding and border in the element's total width and height */
}

/* HTML element: Sets base font size for the document */
html {
  font-size: 62.5%; /* 62.5% of the default browser font size (usually 16px), so 1rem = 10px */
}

/* Body element: Sets styles for the body of the document */
body {
  font-family: 'Baskervville', serif; /* Sets the default font family */
  color: linen; /* Sets the default text color */
  background-color: rgb(20, 30, 40); /* Sets the background color */
}

/* Heading 1 element: Specific style for all <h1> elements */
h1 {
  font-family: 'Anton', sans-serif; /* Changes font family for <h1> */
}

/* Headings 2-6: Specific styles for <h2> to <h6> elements */
h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif; /* Changes font family for these headings */
}

/* Anchor (link) elements: Style for all <a> elements */
a {
  text-decoration: none; /* Removes underline from links */
  color: linen; /* Sets link color */
}

/* Main element: Defines a grid layout for <main> */
main {
  display: grid; /* Sets the display to grid layout */
  grid-template-columns: minmax(2rem, 1fr) minmax(min-content, 94rem) minmax(2rem, 1fr); /* Defines three columns with specific width rules */
  row-gap: 3rem; /* Sets the gap between rows */
}

/* Image elements: Styles for all <img> */
img {
  width: 100%; /* Image takes full width of its container */
  object-fit: cover; /* Resizes image to cover the container while keeping aspect ratio */
}

/* Horizontal rule elements: Styles for <hr> */
hr {
  margin: 1.5rem 0; /* Sets top and bottom margin */
  border: 1px solid rgba(120, 120, 120, 0.6); /* Sets border style and color */
}

/* Specific styles for elements with class 'heading' */
.heading {
  grid-column: 2 / 3; /* Positions the element in the 2nd column of the grid */
  display: grid; /* Sets the display to grid layout */
  grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
  row-gap: 1.5rem; /* Sets the gap between rows */
}

/* ... Further specific styles for other classes and elements ... */

/* Media Queries: Apply different styles based on the viewport size */
@media only screen and (max-width: 720px) {
  .image-wrapper {
    grid-template-columns: 1fr; /* Changes the grid layout for smaller screens */
  }
}

/* Additional media queries for responsive design */
@media only screen and (max-width: 600px) { /* ... */ }
@media only screen and (max-width: 550px) { /* ... */ }
@media only screen and (max-width: 420px) { /* ... */ }
